@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Angus`s shopping station </h1>
    <p> At the end of the day, everyone is attractive to a certain extent. However, it is up to you to make yourself look even better. You need to go the next step to boost your appearance through grooming, fashion, and personality means. Being that I am a nice guy, I want to make your lives even easier. I am going to give all of you handsome gents out there 7 fashion hacks that will make you look even more attractive. As I say all the time, women will notice! Keep reading guys! </p>
    
</div>
