@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><!DOCTYPE html>
<html>
	<head>
	  <title>index</title>
	  <meta charset="utf-8">
	  <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
	<div class="header">Panda Party</div>
	<div class="box"><a href="#">TOP</a></div>
	<div class="productList">
	 <ul>
		<li>
		  <div class="sale">限時優惠</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt=">
		  <h2>A產品</h2>
		  <span>$200</span>	
		</li>
		<li>
		    <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>		
		</li>
		<li>
		  <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
		  <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
          <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span> 	
		</li>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
		<li>
		   <div class="sale">折扣城</div>
		  <img src="https://cdn1.iconfinder.com/data/icons/mammals-i/300/25-512.png" alt="">
		  <h2>A產品</h2>
		  <span>$200</span>
		</li>
	 </ul>
	</div>

	
	</body>
</html>


